@{
    ViewData["Title"] = "Exibe os detalhes da Tarefa";
}
<h1>Detalhes da Task</h1>
<table class="table table-bordered table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Object Location
            </th>
        </tr>
    </thead>

    @foreach (var item in ViewBag.Arquivos)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>

<h2>Transcription</h2>
<textarea class="form-control" rows="5">
@ViewBag.TextTranscription
</textarea>
<br />
<h2>JSON File</h2>
<textarea class="form-control" rows="10">
@ViewBag.Json
</textarea>



